@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index" id="form">
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <label for="xmlFileInput" class="control-label">Chọn file chứa thông tin danh sách báo giấy(VVQ):</label>
                    <input class="form-control" type="file" name="files" accept=".xml" onchange="validFiles(event, 'xml')" id="xmlFileInput" />
                </div>
                <div class="form-group">
                    <label for="pdfFileInput" class="control-label">Chọn file pdf:</label>
                    <input class="form-control" type="file" name="files" accept=".pdf" onchange="validFiles(event, 'pdf')" id="pdfFileInput" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg" type="submit" onclick="return onSubmit(event)" id="Button" disabled="disabled">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div id="processingLoader" style="display:none">
        <div class='bouncing-loader'><div></div><div></div><div></div></div>
        <div class="alert alert-warning">
            <p>
                Vui lòng không tắt trình duyệt cho đến khi chạy xong chương trình
            </p>
        </div>
    </div>
    
</div>
<script>    
    function validFiles(event, ex) {
        var ext = event.target ? event.target.value.split('.').pop().toLowerCase() : event.value.split('.').pop().toLowerCase();
        var btn = document.getElementById("Button");
        if (ext !== ex) {

            btn.disabled = true;
            if (ex === 'xml')
                alert('File chứa thông tin danh sách báo giấy(VVQ) không hợp lệ');
            else
                alert('File pdf ra báo không hợp lệ');

            event.target.value = '';
            return false;
        }

        if (ext === 'pdf')
        {
            var fileName = event.target ? event.target.value.split('\\').pop().toLowerCase() : event.value.split('\\').pop().toLowerCase()
            fileName = fileName.split('.').shift();
            var strArr = fileName.split('_') || [];
            if (strArr.length !== 3)
            {
                alert('File pdf ra báo phải có tên file theo cấu trúc: noidang_sobao_ngaydang; vd: HCM_1234_01012019');
                return false;
            }
            try {
                var location = strArr[0];
                var pressNo = parseInt(strArr[1], 10) || 0;
                var postDate = new Date(strArr[2].replace(/(\d{2})(\d{2})(\d{4})/, "$3-$2-$1"));
                if ((location !== 'hcm' && location !== 'hn') || pressNo === 0 || !postDate) {
                    alert('File pdf ra báo phải có tên file theo cấu trúc: noidang_sobao_ngaydang; vd: HCM_1234_01012019');
                    return false;
                }
            } catch (error) {
                alert('File pdf ra báo phải có tên file theo cấu trúc: noidang_sobao_ngaydang; vd: HCM_1234_01012019');
                return false;
            }   
        } 

        btn.disabled = false;
        return true;
    }
    function onSubmit(event) {
        var xmlFile = document.getElementById('xmlFileInput');
        if (!xmlFile || validFiles(xmlFile, 'xml') === false)
            return false;
        var pdfFile = document.getElementById('pdfFileInput');
        if (!pdfFile || validFiles(pdfFile, 'pdf') === false)
            return false;
        
        event.target.innerHTML = "Đang xử lý";
        //event.target.setAttribute("disabled", "disabled");
        var loading = document.getElementById('processingLoader');
        if (loading) {
            loading.setAttribute('style', '');
            var form = document.getElementById('form');
            if (form) {
                form.setAttribute('style', 'display:none');
            }
        }
        return true;
    }
</script>